////////////////////
// IMPORTS & USE //
//////////////////
@use "../mixins";
@use "../base/typography";
@import "../variables";
// @import "../../assets/clifs.jpeg";


////////////////////
// DETAIL STYLING//
//////////////////
.account {
  margin: 0 auto;
  @include mixins.flex(column, space-between, center);

  @include typography.inter();

  @include mixins.tablet {
    @include mixins.flex(row, space-between, flex-start);
  }

  &__section {
    &--user {
      @include mixins.flex(column, center, center, 0.8rem);
      min-width: 40vw;
      padding-top: 20px;
      padding-bottom: 20px;

      &__bigBox {
        .endSoon {
          @include mixins.flex(column, space-between, center);
          border-radius: 4px;
          border: $border;
          width: 50vw;

          span {
            font-size: 0.9rem;
            width: 100%;
            text-align: center;
            border-bottom: $border;
            padding-bottom: 8px;
            padding-top: 8px;
          }
          .imgContainer {
            @include mixins.flex(column, center, center);
            height: 200px;
            width: 200px;

            img {
              height: 50%;
              width: 50%;
              object-fit: cover;
            }
          }
        }
      }
      &__statistics {
        @include mixins.flex(row, space-between, center);
        width: 100%;

        .statBox {
          @include mixins.flex(column, center, center);
          width: 30%;
          border-radius: 4px;
          border: $border;

          :first-child {
            text-align: center;
            width: 100%;
            border-bottom: $border;
          }
          :last-child {
            padding-top: 8px;
            padding-bottom: 8px;
          }
        }
      }

      &__logout {
        width: 100%;
        button {
          background-color: $almost-black;
          width: 100%;
          height: 40px;
          border-radius: 4px;
          color: $greige-light;
          border: none;
          &:hover{
            cursor: pointer;
          }
        }
      }

      @include mixins.tablet {
        &__bigBox {
          @include mixins.flex(column, center, center);
          width: 100%;

          .endSoon {
            width: 80%;
          }
        }
        &__statistics,
        &__logout {
          width: 80%;
        }
      }
      @include mixins.desktop {
        &__bigBox,&__statistics,
        &__logout,.endSoon {
          width: 300px;
        }
      }
    }

    &--auctions {
      @include mixins.flex(row, space-between, center);
      flex-wrap: wrap;

      &__auctionSingle {
        @include mixins.flex(column, center, center);
        border-left: 1px solid black;
        border-top: 1px solid black;
        width: 50vw;
        height: 50vw;
        font-size: 0.9rem;

        .auctLink {
          @include mixins.flex(column, space-between, center, 0.4rem);
          padding: 20px;
          color: black;
          text-decoration: none;
          width: 100%;
          height: 100%;

          img {
            width: 50%;
            height: 50%;
            object-fit: cover;
          }

          .infoBox {
            @include mixins.flex(column, center, space-between, 0.1rem);
            width: 100%;

            .infoDetail {
              @include mixins.flex(row, space-between, center);
            }
          }

          .title {
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }

        &:last-child {
          border-right: 1px solid black;
        }
        &:nth-last-child(2) {
          border-bottom: 1px solid black;
        }
      }
      @include mixins.tablet {
        @include mixins.flex(row, flex-start, center);

        &__auctionSingle {
          font-size: 0.8rem;

          width: 20vw;
          height: 20vw;
          border-bottom: 1px solid black;
          border-top: none;
        }
      }
      @include mixins.desktop {
        &__auctionSingle {
          font-size: 0.9rem;
        }
      }
    }
  }
}
