////////////////////
// IMPORTS & USE //
//////////////////
@use "../mixins";
@use "../base/typography";
@import "../variables";

////////////////////
// HEADER STYLING//
//////////////////
.header {
  margin: 0 auto;
  @include mixins.flex(column, center, center);

  &__menu {
    @include mixins.flex(row, center, center, 0.4rem);
    font-size: 0.9rem;
    background-color: $greige-main;
    height: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    position: sticky; 
    top: 0;

    &--link {
      text-decoration: none;
      color: black;
      &:hover {
        color: $greige-dark;
      }
    }
    &--linkActive {
      text-decoration: none;
      color: $greige-dark;
      &:hover {
        color: $greige-dark;
      }
    }
  }

  &__logo {
    @include mixins.flex(row, center, center);
    border-bottom: 1px solid black;
    width: 100%;

    h1 {
      overflow: hidden;
      .diffLetter{
        overflow: hidden;
        color: rgb(80, 80, 80);
        // font-style: italic;
        // margin-right: 15px;
        //En vitsvart ram
        // text-shadow: 2px 1px 1px white, 4px 2px 1px black;

        //Inverted colors
        // background-color: $almost-black;
        // color: $greige-main;

        //Outlined
        // color: $greige-main;
        // -webkit-text-stroke: 0.01px $almost-black;
      }
      @include typography.fjalla;
      padding-top: 5px;
      font-size: 65px;
      line-height: 0.87;

      @include mixins.tablet{
        padding-top: 8px;
        font-size: 90px;
      }
      @include mixins.desktop{
        padding-top: 8px;
        font-size: 120px;
      }
    }
  }
}
