////////////////////
// IMPORTS & USE //
//////////////////
@use "../mixins";
@use "../base/typography";
@import "../variables";

//////////////////
// HOME STYLING//
////////////////
.home {
  margin: 0 auto;
  min-height: 85%;
  @include mixins.flex(column, space-between, center);

  img{
    border-radius: 2px;
  }

  ///////////////
  // SECTIONS //
  /////////////
  &__top {
    @include mixins.flex(row, center, center);
    flex-wrap: wrap;
    width: 100%;

    &--first {
      @include mixins.flex(column, center, center);
      height: 100vw;
      width: 100%;
      border-bottom: 1px solid black;
      border-left: 0.5px solid black;
      border-right: 0.5px solid black;
      img {
        width: 50%;
        height: 50%;
        object-fit: cover;
      }
    }
    &--quad {
      @include mixins.flex(row, center, center);
      flex-wrap: wrap;
      width: 100%;

      &__auction {
        @include mixins.flex(column, center, center);
        width: 50%;
        height: 50vw;
        border-bottom: 1px solid black;
        border-left: 0.5px solid black;
        border-right: 0.5px solid black;
        img {
          width: 50%;
          height: 50%;
          object-fit: cover;
        }
      }
    }
    @include mixins.tablet {
      &--first {
        width: 50%;
        height: 50vw;
      }
      &--quad {
        width: 50vw;
        &__auction{
          height: 25vw;
        }
      }
    }
  }
  &__grid {
    @include mixins.flex(row, flex-start, flex-start);
    flex-wrap: wrap;
    width: 100%;

    &--auction {
      @include mixins.flex(column, center, center);
      border-bottom: 1px solid black;
      border-left: 0.5px solid black;
      border-right: 0.5px solid black;
      height: 50vw;
      width: 50%;
      
      &__link{
        @include mixins.flex(column, center, center);
        width: 100%;
        height: 100%;
      }

      img {
        width: 50%;
        height: 50%;
        object-fit: cover;
      }
      &:last-child {
        border-right: 1px solid black;
      }
    }

    @include mixins.tablet {
      &--auction {
        width: 20%;
        height: 20vw;
      }
    }
    @include mixins.desktop {
      &--auction {
        width: 20%;
        height: 20vw;
      }
    }
  }

  &__today {
    @include mixins.flex(column, center, center);
    width: 80%;
    flex-grow: 1;

    &--info {
      width: 100%;
    }
    &--image {
      @include mixins.flex(column, center, center);
      flex-grow: 1;
      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }

    @include mixins.tablet {
      @include mixins.flex(row, center, center);
      width: 100%;

      &--info {
        width: 50%;
      }
      &--image {
        @include mixins.flex(column, center, flex-start);
        flex-grow: 1;
        img {
          width: 100%;
          height: 400px;
        }
      }
    }

    @include mixins.desktop {
      &--info {
        width: 33%;
      }
      &--image {
        @include mixins.flex(column, center, flex-start);
        flex-grow: 1;
        img {
          width: 50%;
          height: 400px;
        }
      }
    }
  }

  // &__grid {
  //   @include mixins.flex(column, center, center);
  //   border-top: 1px solid black;
  //   width: 100%;

  //   &--auction {
  //     @include mixins.flex(row, center, center);
  //     height: 120px;
  //     width: 100%;
  //     border-bottom: 1px solid black;
  //   }

  //   @include mixins.tablet {
  //     @include mixins.flex(row, space-between, center);
  //     &--auction {
  //       @include mixins.flex(row, center, center);
  //       height: 200px;
  //       flex-grow: 1;
  //       border-right: 1px solid black;
  //     }
  //   }
  // }
}
