////////////////////
// IMPORTS & USE //
//////////////////
@use "../mixins";
@use "../base/typography";
@import "../variables";

//////////////////
// HOME STYLING//
////////////////
.home {
  margin: 0 auto;
  min-height: 85%;
  @include mixins.flex(column, space-between, center);

  @include typography.inter();
  ///////////////
  // SECTIONS //
  /////////////
  &__today {
    @include mixins.flex(column, center, center);
    width: 80%;
    flex-grow: 1;

    &--info {
      width: 100%;
    }
    &--image {
      @include mixins.flex(column, center, center);
      flex-grow: 1;
      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }

    @include mixins.tablet {
      @include mixins.flex(row, center, center);
      width: 100%;

      &--info {
        width: 50%;
      }
      &--image {
        @include mixins.flex(column, center, flex-start);
        flex-grow: 1;
        img {
          width: 100%;
          height: 400px;
        }
      }
    }

    @include mixins.desktop {
      &--info {
        width: 33%;
      }
      &--image {
        @include mixins.flex(column, center, flex-start);
        flex-grow: 1;
        img {
          width: 50%;
          height: 400px;
        }
      }
    }
  }

  &__week {
    @include mixins.flex(row, space-between, center);
    border: 1px solid black;
    width: 100%;

    &--day {
      @include mixins.flex(row, center, center);
      height: 200px;
      flex-grow: 1;
      border-right: 1px solid black;
    }
  }
}
