////////////////////
// IMPORTS & USE //
//////////////////
@use "../mixins";
@use "../base/typography";
@import "../variables";

//////////////////
// HOME STYLING//
////////////////
.home {
  margin: 0 auto;
  @include mixins.flex(column, center, center);

  @include typography.inter();
  ///////////////
  // SECTIONS //
  /////////////
  &__today {
    height: 500px;
    background-color: white;
  }

  &__week {
    @include mixins.flex(row, space-between, center);
    border: 1px solid black;
    width: 100%;

    &--day {
      @include mixins.flex(row, center, center);
      height: 200px;
      flex-grow: 1;
      border-right: 1px solid black;
    }
  }
}
