////////////////////
// IMPORTS & USE //
//////////////////
@use "../mixins";
@use "../base/typography";
@import "../variables";
//////////////////////
// LOGIN VARIABLES //
////////////////////
$border-radius: 2px;
$width: clamp(270px, 64vw, 350px);
$transition: all 0.2s ease-out;
///////////////////
// LOGIN MIXINS //
/////////////////
@mixin field-layout($height: auto, $border-radius: initial) {
  width: $width;
  height: $height;
  border-radius: $border-radius;
  border: none;
}
/////////////////////////
// LOGIN PAGE STYLING //
///////////////////////
.login-page {
  --font-size: clamp(1.125rem, 2.25vw, 1.75rem);
  @include mixins.flex(column, center, center, 2rem);

  
  background-image: url("../../assets/clifs.jpeg");
  background-position: center;
  background-size: 120vw;
  
  height: 80vh;
  ///////////////
  // SECTIONS //
  /////////////
  &__section {
    ///////////////////
    // FORM SECTION //
    /////////////////
    &--form {
      @include mixins.flex(column, center, center, 1.125rem);
      .form__input {
        border: 1px solid black;
        position: relative;
        &--title {
          position: absolute;
          left: 1rem;
          top: 50%;
          transform: translateY(-50%);
          color: rgba($color: #000000, $alpha: 0.5);
          transition: $transition;
          width: 100%;
          cursor: text;
          user-select: none;
        }
        &--text,
        &--btn {
          @include field-layout(45px, $border-radius);
        }
        &--text {
          font-size: 1rem;
          padding: 0.75rem 0.75rem 0rem 0.75rem;
          font-weight: 300;
          background-color: $greige-light;
        }
        &--btn {
          @include mixins.flex(column, center, center, 1rem);
          transition: $transition;
          padding: calc(var(--font-size) * 0.5);
          // margin-top: 1.25rem;
          background-color: $almost-black;
          color: $greige-light;
          font-size: 1.125rem;
          cursor: pointer;
        }
        &--text:focus ~ .form__input--title,
        &--text:not(:placeholder-shown) ~ .form__input--title {
          left: clamp(-2.5rem, min(-3vw, -6vw), -0.5rem);
          top: 0;
          transform: scale(0.7);
        }
        &--text:focus {
          outline: none;
        }
        &--btn:focus,
        &--btn:hover {
          transform: scale(1.05);
          outline: none;
        }
      }
      a {
        text-decoration: none;
      }
      a:hover,
      a:focus {
        text-decoration: underline;
      }
      .error {
        position: relative;
        width: 100%;
        &__text {
          background-color: #d92e22;
          color: white;
          position: absolute;
          right: 0;
          top: -0.5rem;
          font-size: 8pt;
          padding: 0.1rem 0.5rem;
          border-radius: $border-radius * 0.66;
        }
      }
    }
    &--registerView {
      @include mixins.flex(column, center, center, 1.7rem);
      .registerView__text {
        // margin-top: 1.7rem;
      }
  
      .registerView__btn {
        width: 100%;
        transition: $transition;
        padding: calc(var(--font-size) * 0.3);
        background-color: $greige-main;
        color: black;
        border: 1px solid black;
        font-size: 1rem;
        text-decoration: none;
        cursor: pointer;
        border-radius: $border-radius;
      }

      .registerView__btn:focus,
      .registerView__btn:hover {
        transform: scale(1.05);
        outline: none;
      }
      
    }
  }
  *::selection {
    background-color: #504f4f;
    color: white;
  }
}
////////////////////
// EXTRA CLASSES //
//////////////////
.font-size--small {
  font-size: 14px;
  color: #504f4f;
}
