@use "./typography";
@import "../variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  @include typography.montserrat;
  scroll-behavior: smooth;
  background-color: $greige-main;
  &::-webkit-scrollbar {
    display: none;
  }
}

#root{
  height: inherit;
}