//////////////
// FLEXBOX //
////////////
@mixin flex($dir, $jc, $ai, $gap: 0) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
  }
  
  ///////////////////
  // RESPONSIVITY //
  /////////////////
  @mixin tablet {
    @media (min-width: 768px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: 1024px) {
      @content;
    }
  }