/////////////////////
//////PRIMARIES//////
/////////////////////
$greige-main: #D1CDC7;
$greige-dark: #877A6E;
$greige-light: #EDEBE9;

////////////////////
////ADMIN COLORS////
////////////////////
$transparent-bg: #ffffff37;
$icons: #d8d8d8;
$faded-heading: #928d8d;
$bookings-boxShadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

/////////////////////////////
////CUSTOMERCANCEL COLORS////
/////////////////////////////
$icon-red: #e9a8a8;
$delete-dark: #5f2d2d;
$delete-transparent: #b161613c;
