/////////////////////
//////PRIMARIES//////
/////////////////////
$greige-main: #d1cdc7;
$greige-dark: #675e55;
$greige-light: #edebe9;

//////////////////////
////DETAIL COLORS////
////////////////////
$warning: rgb(172, 42, 42);
$almost-black: rgba(26, 25, 25, 0.966);

$border: 1px solid black;
$half-border: 0.5px solid black;